.corpo_principal {
    background-color:#FFFFFF;
    padding-left: 55px;
    padding-right: 55px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 25px;
    font-family: 'Courier New', Courier, monospace;

}

.h2ComBorda {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 25px;
    border-width: 5px;
    border-top-style: solid;
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

.corpo_principal-bloco1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50%;
}

.corpo_principal-bloco-1-titulo{
    display: block;
}

.corpo_principal-bloco1-imagem {
    margin-top: 25px;
}

.corpo_principal-imagem-item {
    width: 250px;
    height: 250px;
    border-radius: 100px;
}

.corpo_principal-bloco2 {
    display: flex;
    justify-content:first baseline;
    justify-content: space-between;
    align-items: center;
    padding-right: 4%;
}

.corpo_principal-bloco2-sobre {
    text-align: justify;
    font-size: 20px;

}

.corpo_principal-bloco2-botao {
    background-color: black;
    color: blueviolet;
    border: 2px solid blueviolet;
    line-height: 40px;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 1em 2em;
}

.bloco3 {
    text-align: center;
    display: flex;
    gap: 10%;
    flex-wrap: wrap;
}

.bloco3-titulos{
    display: flex;
    flex-wrap: wrap;
    gap: 50%;
    margin-top: 50px;
}

.corpo_principal-lista1-qualidades {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        " destaque . ."
        " destaque . .";
    gap: 20px;
    padding: 1em;
    justify-content: center;
}

.lista1-qualidades-destaque {
    grid-area: destaque;
    height: 262px;
    border-radius: 8px;
    width: 200px;
    border: 2px solid blueviolet;
    background-color: black;
    color: white;
}

.lista1-qualidades {
    border: 2px solid blueviolet;
    border-radius: 8px;
    color: white;
    background-color: black;
    width: 200px;
    height: 120px;
}
.destaque {
    padding-top: 55%;
    line-height: 40px;
    font-size: 25px;
    color: blueviolet;
}

.itemLista {
    padding-top: 9%;
    line-height: 40px;
    font-size: 25px;
    color: blueviolet;
}

.corpo_principal-lista2-habilidades {
    line-height: 60px;
    font-size: 25px;
}

.corpo_principal-bloco4 {
    display: flex;
    justify-content: space-between;
    padding-right:  55px;
}

.corpo_principal-bloco4-endereco-1 {
    margin-bottom: 25px;
}

.enderecos01 {
    padding-top: 20px;
}

.endereco01-lista {
    line-height: 40px;
    text-align: center;
}